[Unit]
Description=Nix Daemon Socket
DefaultDependencies=no
ConditionPathIsReadWrite=/nix/var/nix/daemon-socket

[Socket]
ListenStream=/nix/var/nix/daemon-socket/socket

[Install]
WantedBy=default.target
